---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=ima%40weirdo.net&plan=a_la_carte&card=tok_102dzg2S246iGQtm6Rw3o4up
    headers:
      Authorization:
      - Bearer sk_test_MB59014jDr66tZMknnJ3726g
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1380213145,
          "id": "cus_2dzgZZnZEh8J3F",
          "livemode": false,
          "description": "ima@weirdo.net",
          "email": null,
          "delinquent": false,
          "subscription": {
            "id": "su_102dzg2S246iGQtmAyzrSK7s",
            "plan": {
              "interval": "week",
              "name": "Pay per request",
              "amount": 0,
              "currency": "usd",
              "id": "a_la_carte",
              "object": "plan",
              "livemode": false,
              "interval_count": 1,
              "trial_period_days": 90
            },
            "object": "subscription",
            "start": 1380213145,
            "status": "trialing",
            "customer": "cus_2dzgZZnZEh8J3F",
            "cancel_at_period_end": false,
            "current_period_start": 1380213145,
            "current_period_end": 1387989145,
            "ended_at": null,
            "trial_start": 1380213145,
            "trial_end": 1387989145,
            "canceled_at": null,
            "quantity": 1,
            "application_fee_percent": null
          },
          "discount": null,
          "account_balance": 0,
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_2dzgZZnZEh8J3F/cards",
            "data": [
              {
                "id": "card_102dzg2S246iGQtmdlhT4EjA",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 12,
                "exp_year": 2020,
                "fingerprint": "5M3VnAm092ve6Lcm",
                "customer": "cus_2dzgZZnZEh8J3F",
                "country": "US",
                "name": "Ray Smuckles",
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_102dzg2S246iGQtmdlhT4EjA"
        }
  recorded_at: Thu, 26 Sep 2013 16:32:26 GMT
recorded_with: VCR 2.5.0
