.instagram-panel {
  // background: url(../img/instagram.jpg) no-repeat center top;
  text-align: center;
  background-position: center center;

  i {
    color: white;
    margin-top: 35px;
  }

  p {
    margin: 5px;
    color: white;
  }
}
