#spotify {
  @include background-size(100%);
  @include background-size(cover);
  // background: url(../img/lorde.jpg) no-repeat center top;
  margin-top: -15px;
  background-attachment: relative;
  background-position: center center;
  min-height: 220px;
  width: 100%;

  .btn-clear-g {
    top: 15%;
    right: 10px;
    position: absolute;
    margin-top: 5px;
  }

  .sp-title {
    bottom: 15%;
    left: 25px;
    position: absolute;
    color: #efefef;

    h3 {
      font-weight: 900;
    }
  }

  .play{
    bottom: 18%;
    right: 25px;
    position: absolute;
    color: #efefef;
    font-size: 20px
  }
}

.followers {
  margin-left: 5px;
  margin-top: 5px;
}
