<% if @name.present? %>
  Hi <%= @name%>,
<% else %>
  Hi, 
<% end %>
<p>
I noticed you activated your account but haven't submitted a question yet. Is there anything I can do to help?
</p>

<p>
Just reply back to this email at your convenience.</p>
<p>
Thanks!
<br>
<br>
Regards,
<br>
Ashish
<br>
<br>
Ashish Advani, PharmD
<br>
Founder, InpharmD™
<br>
</p>
