<div style="width:500px" width="500">
  <div style="margin:15px;">
   
   <p><%= button_to 'Have a question?',login_url, style: 'color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;border: 1px solid transparent;display: inline-block;font-size: 14px;font-weight: bold;padding: 12px 25px;cursor: pointer;width:100%;margin-bottom:-30px;', method: 'get' %>
    <p>
    <%= image_tag 'third_welcome.png', alt: 'InpharmD: Tailored, On Demand, Digital Drug Information', width:"100%", height:"100%" -%>
  </div>
</div>
