<p>Thanks for your recent question into InpharmD™. I’m so glad to see you back on here. If there’s any way you can think that we could make our service or technology more valuable, please reach out to me by phone (below).</p>

<p>Any feedback- big or small, good or bad- is appreciated!</p>

<p>Regards,
  <br>
  Ashish
  <br>
  <br>
  Ashish Advani, PharmD
  <br>
  Founder, InpharmD™
 <br>
  404.606.1073</p>