<!-- Modal -->
<div id="myModalUploader" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Bulk Upload Users</h4>
      </div>
      <div class="modal-body">
        <%= form_for :uploader, url: upload_team_users_path, html: { :multipart => true } do |f| -%>
       <label class="control-label">Select File</label>
        <%= f.file_field :file -%>   <br/>
         <%= f.hidden_field :team_id, value: @team.id %>
         <br/>
        <input name="button" value="Submit" onclick=" $('form').submit();" type="button"></br>
       <% end -%>
       <p><a href="/docs/sample_users.xlsx">Download Sample file</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
