<p>Hi <%= @responsible_person.name %></p>
<p>
  Just checking in as we’re past our turnaround time.
  At your earliest convenience, could you let me know where we stand?
</p>
<p>
  Question:<br/>
  <i><%= @question %></i>
</p>
<p>
  Regards,<br/>
  AA
</p>
