---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=eelliott%40tazzy.org&email=eelliott%40tazzy.org&plan=a_la_carte&card=tok_103j0c2S246iGQtm40OTKnrU&trial_end=1404172799
    headers:
      Authorization:
      - Bearer sk_test_MB59014jDr66tZMknnJ3726g
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card's security code is incorrect.",
            "type": "card_error",
            "param": "cvc",
            "code": "incorrect_cvc"
          }
        }
  recorded_at: Mon, 24 Mar 2014 13:59:05 GMT
recorded_with: VCR 2.5.0
