---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_MB59014jDr66tZMknnJ3726g
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "count": 2,
          "data": [
            {
              "id": "UpdateTest",
              "object": "coupon",
              "amount_off": null,
              "created": 1411216225,
              "currency": null,
              "duration": "once",
              "duration_in_months": null,
              "livemode": false,
              "max_redemptions": null,
              "metadata": {},
              "percent_off": 5,
              "redeem_by": null,
              "times_redeemed": 1,
              "valid": true
            },
            {
              "id": "one-month-credit",
              "object": "coupon",
              "amount_off": 1499,
              "created": 1380816507,
              "currency": "usd",
              "duration": "once",
              "duration_in_months": null,
              "livemode": false,
              "max_redemptions": null,
              "metadata": {},
              "percent_off": null,
              "redeem_by": null,
              "times_redeemed": 1,
              "valid": true
            }
          ],
          "has_more": false,
          "url": "/v1/coupons"
        }
  recorded_at: Sat, 24 Sep 2016 09:48:49 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_MB59014jDr66tZMknnJ3726g
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_9FiCtg7a5QZGea",
          "object": "customer",
          "account_balance": 0,
          "cards": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9FiCtg7a5QZGea/cards"
          },
          "created": 1474710531,
          "currency": "usd",
          "default_card": null,
          "default_source": null,
          "delinquent": false,
          "description": "drdarria@sharecare.com",
          "discount": null,
          "email": "drdarria@sharecare.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9FiCtg7a5QZGea/sources"
          },
          "subscriptions": {
            "object": "list",
            "count": 1,
            "data": [
              {
                "id": "sub_9FiC4ScpfyWIAm",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1474710531,
                "current_period_end": 1482537599,
                "current_period_start": 1474710531,
                "customer": "cus_9FiCtg7a5QZGea",
                "discount": null,
                "ended_at": null,
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "pay_per_request",
                  "object": "plan",
                  "amount": 0,
                  "created": 1412648229,
                  "currency": "usd",
                  "interval": "week",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Pay per request",
                  "statement_descriptor": null,
                  "trial_period_days": null,
                  "statement_description": null
                },
                "quantity": 1,
                "start": 1474710531,
                "status": "trialing",
                "tax_percent": null,
                "trial_end": 1482537599,
                "trial_start": 1474710531
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_9FiCtg7a5QZGea/subscriptions"
          },
          "subscription": {
            "id": "sub_9FiC4ScpfyWIAm",
            "object": "subscription",
            "application_fee_percent": null,
            "cancel_at_period_end": false,
            "canceled_at": null,
            "created": 1474710531,
            "current_period_end": 1482537599,
            "current_period_start": 1474710531,
            "customer": "cus_9FiCtg7a5QZGea",
            "discount": null,
            "ended_at": null,
            "livemode": false,
            "metadata": {},
            "plan": {
              "id": "pay_per_request",
              "object": "plan",
              "amount": 0,
              "created": 1412648229,
              "currency": "usd",
              "interval": "week",
              "interval_count": 1,
              "livemode": false,
              "metadata": {},
              "name": "Pay per request",
              "statement_descriptor": null,
              "trial_period_days": null,
              "statement_description": null
            },
            "quantity": 1,
            "start": 1474710531,
            "status": "trialing",
            "tax_percent": null,
            "trial_end": 1482537599,
            "trial_start": 1474710531
          }
        }
  recorded_at: Sat, 24 Sep 2016 09:48:52 GMT
recorded_with: VCR 2.9.3
