---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_MB59014jDr66tZMknnJ3726g
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/coupons",
          "data": [
            {
              "id": "UpdateTest",
              "created": 1411216225,
              "percent_off": 5,
              "amount_off": null,
              "currency": null,
              "object": "coupon",
              "livemode": false,
              "duration": "once",
              "redeem_by": null,
              "max_redemptions": null,
              "times_redeemed": 1,
              "duration_in_months": null,
              "valid": true,
              "metadata": {}
            },
            {
              "id": "one-month-credit",
              "created": 1380816507,
              "percent_off": null,
              "amount_off": 1499,
              "currency": "usd",
              "object": "coupon",
              "livemode": false,
              "duration": "once",
              "redeem_by": null,
              "max_redemptions": null,
              "times_redeemed": 1,
              "duration_in_months": null,
              "valid": true,
              "metadata": {}
            }
          ],
          "count": 2
        }
  recorded_at: Fri, 12 Jun 2015 17:26:58 GMT
recorded_with: VCR 2.5.0
