<p>
  Greetings! I noticed you haven't used your InpharmD&trade; invite token to create an account,
  so I thought I'd reach out to see if there's anything I can do to help.
  If you simply forgot, please <%= link_to "click here", signup_url -%> to go to the sign up page and begin your free three-month trial (no credit card required).
</p>
<hr>
<p>
  A recent study estimated that around half of the drug-related deaths that occur each year are preventable, and more recently, it was shown that better information may have led to better outcomes in the same environment. This is why we created InpharmD&trade;, and why we care deeply about having you as a member. If you have questions, concerns, or if you need assistance in any way, please don't hesitate to contact us at <a href="mailto:support@inpharmd.com">support@inpharmd.com</a>.
</p>
<p>
  Thank you for your support!
</p>
<p>
  Ashish Advani, PharmD<br>
  Founder
</p>
