<p>You've been invited by <%= @inviter.email -%> to create an account on InpharmD™.</p>

<p>
  <%= link_to signup_url do %>
    Click here to complete signup
  <% end -%>,&nbsp;or copy and paste the following URL into your browser:<br/>
</p>

<p><%= signup_url -%></p>
