---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: amount=0&currency=usd&description=Inquiry%3A%20how%20do%20i%20do%20a%20thing%3F
    headers:
      Authorization:
      - Bearer sk_test_MB59014jDr66tZMknnJ3726g
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Missing required param: customer.",
            "param": "customer"
          }
        }
  recorded_at: Fri, 14 Aug 2015 18:47:49 GMT
recorded_with: VCR 2.9.3
