<div class="pull-right">
 <%= link_to "Upload Images", blog_images_uploader_path(resource_id: resource.id, resource_type: resource_type), method: :get, remote: true, class: "btn btn-link" %>
</div>
<div id='upload-images'></div>
<div id='view-images'></div>
