<p>Hi,</p>
<p>I noticed you didn’t finish signing up for InpharmD™, and I'm here to answer any questions for you.
We are one step away from liberating you from daunting tasks.</p>

<p>Get started using InpharmD™ now.<br>
Regards,<br>
Ashish </p>

<p>Ashish Advani, PharmD <br>
Founder, InpharmD™ <br>
404.606.1073</p>
