---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_MB59014jDr66tZMknnJ3726g
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/coupons",
          "data": [
            {
              "id": "UpdateTest",
              "created": 1411216225,
              "percent_off": 5,
              "amount_off": null,
              "currency": null,
              "object": "coupon",
              "livemode": false,
              "duration": "once",
              "redeem_by": null,
              "max_redemptions": null,
              "times_redeemed": 1,
              "duration_in_months": null,
              "valid": true,
              "metadata": {}
            },
            {
              "id": "one-month-credit",
              "created": 1380816507,
              "percent_off": null,
              "amount_off": 1499,
              "currency": "usd",
              "object": "coupon",
              "livemode": false,
              "duration": "once",
              "redeem_by": null,
              "max_redemptions": null,
              "times_redeemed": 1,
              "duration_in_months": null,
              "valid": true,
              "metadata": {}
            }
          ],
          "count": 2
        }
  recorded_at: Tue, 30 Jun 2015 16:09:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=hcruz%40meetz.mil&email=hcruz%40meetz.mil&plan=pay_per_request&trial_end=1443484799
    headers:
      Authorization:
      - Bearer sk_test_MB59014jDr66tZMknnJ3726g
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1435680558,
          "id": "cus_6WUGhI5XHsZvwE",
          "livemode": false,
          "description": "hcruz@meetz.mil",
          "email": "hcruz@meetz.mil",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6WUGhI5XHsZvwE/subscriptions",
            "data": [
              {
                "id": "sub_6WUG67W0kz8gH8",
                "plan": {
                  "interval": "week",
                  "name": "Pay per request",
                  "created": 1412648229,
                  "amount": 0,
                  "currency": "usd",
                  "id": "pay_per_request",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null,
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1435680558,
                "status": "trialing",
                "customer": "cus_6WUGhI5XHsZvwE",
                "cancel_at_period_end": false,
                "current_period_start": 1435680558,
                "current_period_end": 1443484799,
                "ended_at": null,
                "trial_start": 1435680558,
                "trial_end": 1443484799,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ],
            "count": 1
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6WUGhI5XHsZvwE/cards",
            "data": [],
            "count": 0
          },
          "default_card": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6WUGhI5XHsZvwE/sources",
            "data": [],
            "count": 0
          },
          "default_source": null,
          "subscription": {
            "id": "sub_6WUG67W0kz8gH8",
            "plan": {
              "interval": "week",
              "name": "Pay per request",
              "created": 1412648229,
              "amount": 0,
              "currency": "usd",
              "id": "pay_per_request",
              "object": "plan",
              "livemode": false,
              "interval_count": 1,
              "trial_period_days": null,
              "metadata": {},
              "statement_descriptor": null,
              "statement_description": null
            },
            "object": "subscription",
            "start": 1435680558,
            "status": "trialing",
            "customer": "cus_6WUGhI5XHsZvwE",
            "cancel_at_period_end": false,
            "current_period_start": 1435680558,
            "current_period_end": 1443484799,
            "ended_at": null,
            "trial_start": 1435680558,
            "trial_end": 1443484799,
            "canceled_at": null,
            "quantity": 1,
            "application_fee_percent": null,
            "discount": null,
            "tax_percent": null,
            "metadata": {}
          }
        }
  recorded_at: Tue, 30 Jun 2015 16:09:19 GMT
recorded_with: VCR 2.5.0
