---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_2boUgOUX1650rT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_MB59014jDr66tZMknnJ3726g
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1379710269,
          "id": "cus_2boUgOUX1650rT",
          "livemode": false,
          "description": "TEST USER: DO NOT DELETE",
          "email": "doc@doc.doc",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_2boUgOUX1650rT/subscriptions",
            "data": [
              {
                "id": "sub_102boU2S246iGQtmp6babt52",
                "plan": {
                  "interval": "month",
                  "name": "Unlimited monthly",
                  "created": 1404098630,
                  "amount": 2499,
                  "currency": "usd",
                  "id": "provider_monthly",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null,
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1431367020,
                "status": "trialing",
                "customer": "cus_2boUgOUX1650rT",
                "cancel_at_period_end": false,
                "current_period_start": 1380310152,
                "current_period_end": 1439164799,
                "ended_at": null,
                "trial_start": 1380310152,
                "trial_end": 1439164799,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ],
            "count": 1
          },
          "discount": null,
          "account_balance": -11503,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_2boUgOUX1650rT/cards",
            "data": [
              {
                "id": "card_103gn22S246iGQtmJm3X9rAm",
                "object": "card",
                "last4": "4444",
                "brand": "MasterCard",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2020,
                "fingerprint": "mvgrIo96AsEXQEgh",
                "country": "US",
                "name": "Some Other Guy",
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_2boUgOUX1650rT",
                "type": "MasterCard"
              }
            ],
            "count": 1
          },
          "default_card": "card_103gn22S246iGQtmJm3X9rAm",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_2boUgOUX1650rT/sources",
            "data": [
              {
                "id": "card_103gn22S246iGQtmJm3X9rAm",
                "object": "card",
                "last4": "4444",
                "brand": "MasterCard",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2020,
                "fingerprint": "mvgrIo96AsEXQEgh",
                "country": "US",
                "name": "Some Other Guy",
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_2boUgOUX1650rT",
                "type": "MasterCard"
              }
            ],
            "count": 1
          },
          "default_source": "card_103gn22S246iGQtmJm3X9rAm",
          "subscription": {
            "id": "sub_102boU2S246iGQtmp6babt52",
            "plan": {
              "interval": "month",
              "name": "Unlimited monthly",
              "created": 1404098630,
              "amount": 2499,
              "currency": "usd",
              "id": "provider_monthly",
              "object": "plan",
              "livemode": false,
              "interval_count": 1,
              "trial_period_days": null,
              "metadata": {},
              "statement_descriptor": null,
              "statement_description": null
            },
            "object": "subscription",
            "start": 1431367020,
            "status": "trialing",
            "customer": "cus_2boUgOUX1650rT",
            "cancel_at_period_end": false,
            "current_period_start": 1380310152,
            "current_period_end": 1439164799,
            "ended_at": null,
            "trial_start": 1380310152,
            "trial_end": 1439164799,
            "canceled_at": null,
            "quantity": 1,
            "application_fee_percent": null,
            "discount": null,
            "tax_percent": null,
            "metadata": {}
          }
        }
  recorded_at: Mon, 11 May 2015 17:57:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_2boUgOUX1650rT/subscription
    body:
      encoding: US-ASCII
      string: plan=provider_monthly&trial_end=1439164799
    headers:
      Authorization:
      - Bearer sk_test_MB59014jDr66tZMknnJ3726g
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-08-13'
[...]
