h3.static-page-title Privacy Statement
h4 Purpose of Privacy Statement
p 
  ' The purpose of this privacy statement is to explain what Mercer University does with
  ' personally identifiable information that you provide to us. We want you to know how 
  ' your personally identifiable information will be protected, who we may share it with, 
  ' and for what purposes.
h4 Reason for Collection of Your Information
p
  ' Some of our services require registration. Some fields are required and some are 
  ' optional. This allows us to send you information that you request or contact you about
  ' services on either a one-time basis, or longer.
h4 Personal Information Collected From You
p 
  ' The type of information collected from you will be based on the specific service that
  ' you register for, as indicated at the time of your registration. Mercer University limits
  ' the collection and processing of personal information to what is necessary to fulfill the
  ' purposes for which it is to be used.
h4 Consolidation of Information Collected From You
p
  ' When you register with us more than once, we may combine your personally identifiable 
  ' information as well as any anonymous computer information collected and store it 
  ' collectively. This helps us keep track of all of your preferences in one organized place,
  ' and helps us provide information to you based on a more informed review of your requests
  ' and medical conditions of interest.
h4 Data Integrity
p
  ' Mercer University takes reasonable steps to ensure that personal data collected is reliable
  ' for its intended use, accurate, complete, and current. 
h4 Consent to Provide Your Information to Mercer University
p
  ' We request your consent to collect your personally identifiable information
  ' when you seek to register for a Mercer University service. We offer you the
  ' option of discontinuing your consent ("unsubscribing") if you later decide
  ' that you no longer want to participate in that service or receive additional
  ' information from us. If we wish to use this information for purposes
  ' incompatible from those for which the data was initially collected, we will
  ' offer an effective way to opt out of the secondary use.
h4 Sharing Your Information With Third-Parties
p 
  ' Mercer University will not share your personal information with third-parties (other marketers)
  ' for their own separate use unless we have obtained your opt-in consent to do so. Mercer University
  ' requires third-parties to whom it discloses personal data to protect personal information using
  ' substantially similar standards to those required by Mercer University. We also require that they
  ' do not use your personal information for any separate use that is not specifically authorized by
  ' Mercer University. 
p
  ' There may also be instances where Mercer University may be required to share your information 
  ' with third-parties who have not been retained by us (directly or indirectly), such as with health
  ' authorities to report possible adverse drug experiences, during inspections or audits, or as ordered
  ' or directed by courts or other governmental agencies. Many entities receiving personally identifiable
  ' information under these conditions have privacy requirements that apply to their handling of your 
  ' information. 
h4 Information That Is Routinely Collected By Our Site Technology: 
p
  ' We record the Internet Protocol ("IP") address of your computer when you visit our site. Without
  ' more, the IP address does not identify you personally, but it is what allows us to maintain 
  ' communications with your computer as you move about our site. 

p
  ' We also collect information about your use of our site through technology such as cookies and web
  ' beacons. A "web beacon" is a piece of code on our site that enables us to monitor things like user
  ' activity and site traffic. A "cookie" is a unique numeric code that we transfer to your computer so
  ' that we can keep track of your interests and preferences and recognize you as a return visitor to our
  ' site. Cookie technology allows us to collect "clickstream" data, which is not personally identifying
  ' information, but which reflects your activities on the site, including your interest in certain healthcare
  ' conditions. A cookie does not collect or keep your name or other personal identifying information, but
  ' when you revisit our site, the cookie allows us to bring you the content and features likely to be of
  ' greatest interest to you based on your previous activities on our site. 

p
  ' We use third-party advertising companies to serve ads on other websites. These companies may use information
  ' (not including your name, address email, address, or telephone number) obtained from cookies and web beacons
  ' about your visits to this site and other websites in order to measure advertising effectiveness and to 
  ' provide advertisements about goods and services of interest to you.

h4 Security of Your Information
p
  ' We use appropriate technical, administrative and physical safeguards to
  ' protect data that pertains to you from loss, misuse or alteration. In
  ' addition, we take steps to ensure that our safeguards take into account new
  ' known threats. Of course, no organization can guarantee the absolute security
  ' of personal information. You should keep in mind that Internet transmissions,
  ' particularly email transmissions, are never 100% secure or error-free.
  ' Accordingly, we also caution you to guard your own computer and password
  ' against unauthorized access by others.
h4 Protection of Children
p
  ' Mercer University will not knowingly collect, use or disclose personally
  ' identifiable information from a minor under the age of 13, without obtaining
  ' prior consent from a person with parental responsibility (parent or guardian).
  ' Mercer University abides by the Children's Online Privacy Protection Act (COPPA)
  ' in the United States, and respects similar laws of other countries that protect
  ' the privacy of children. Should a child whom we know to be under 13 provide
  ' personally identifiable information to us, we will use that information only to
  ' respond directly to that child to inform him or her that we must have parental
  ' consent before receiving information about him or her.
h4 Accountability
p
  ' Our privacy practices are periodically reviewed to verify compliance with this Privacy Statement.
h4 Updating and Accessing Your Information
p
  ' We encourage you to update the information you provide to us, such as providing
  ' us with a new mailing or email address, or a name change. This will help us
  ' continue to provide information to you that best meets your needs. 
p
  ' In addition, Mercer University complies with laws and regulations applicable to
  ' the right to amend your data in our files. These rights are limited in some
  ' ways. In addition, in order to protect your data from unauthorized access or
  ' alteration by third parties, all requests to update or access your information
  ' will be subject to verification of the identity of the requesting individual. 
h4 Updated Mercer University Privacy Policies
p 
  ' This Privacy Statement becomes effective on September 17, 2013. Mercer
  ' University may update this Statement from time to time. We encourage you to
  ' review our Privacy Statement periodically.
h4 How to Contact Us
p
  ' If you have any questions about our Privacy Statement, please write to us at
  ' support@inpharmd.com.

