<p>
  <%= @user.profile.try(:first_name) -%>,
</p>
<p>
  We hope you've enjoyed your free trial of InpharmD&trade;!
  <br>
  <a href="mailto:support@inpharmd.com" target="_blank">Contact us to continue your service.</a>
</p>
<p>
  Either way, we encourage you to keep in touch and stay active as a member of our community. And, if there's anything we could've done better, <a href="mailto:support@inpharmd.com" target="_blank">we'd love to hear from you.</a>
</p>
<p>
  We thank you for your support!
</p>
<p>
  Best regards,<br>
  The InpharmD&trade; Team
</p>
