---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_2boUgOUX1650rT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_MB59014jDr66tZMknnJ3726g
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: &1 !ruby/string
        str: |
          {
            "object": "customer",
            "created": 1379710269,
            "id": "cus_2boUgOUX1650rT",
            "livemode": false,
            "description": "TEST USER: DO NOT DELETE",
            "email": "doc@doc.doc",
            "delinquent": false,
            "subscription": {
              "id": "su_102cco2S246iGQtmX0LlC85Z",
              "plan": {
                "interval": "week",
                "name": "Pay per request",
                "amount": 0,
                "currency": "usd",
                "id": "a_la_carte",
                "object": "plan",
                "livemode": false,
                "interval_count": 1,
                "trial_period_days": null
              },
              "object": "subscription",
              "start": 1379897450,
              "status": "active",
              "customer": "cus_2boUgOUX1650rT",
              "cancel_at_period_end": false,
              "current_period_start": 1379897450,
              "current_period_end": 1380502250,
              "ended_at": null,
              "trial_start": null,
              "trial_end": null,
              "canceled_at": null,
              "quantity": 1,
              "application_fee_percent": null
            },
            "discount": null,
            "account_balance": -10004,
            "cards": {
              "object": "list",
              "count": 0,
              "url": "/v1/customers/cus_2boUgOUX1650rT/cards",
              "data": []
            },
            "default_card": null
          }
        net_http_res: !ruby/object:Net::HTTPOK
          code: '200'
          message: OK
          header:
            server:
            - nginx
            date:
            - Mon, 23 Sep 2013 19:45:26 GMT
            content-type:
            - application/json;charset=utf-8
            content-length:
            - '1098'
            connection:
            - keep-alive
            cache-control:
            - no-cache, no-store
            access-control-allow-credentials:
            - 'true'
            access-control-allow-methods:
            - GET, POST, HEAD, OPTIONS, DELETE
            access-control-max-age:
            - '300'
            strict-transport-security:
            - max-age=31556926; includeSubDomains
          body: *1
          read: true
          uri: 
          decode_content: false
          __read_body_previously_called: true
        args: &3
          :verify_ssl: 1
          :ssl_ca_file: "/Users/matt/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/bundler/gems/stripe-ruby-8ba1a0e4908c/lib/data/ca-certificates.crt"
          :headers: &2
            :user_agent: Stripe/v1 RubyBindings/1.21.0
            :authorization: Bearer sk_test_MB59014jDr66tZMknnJ3726g
            :content_type: application/x-www-form-urlencoded
            :x_stripe_client_user_agent: '{"bindings_version":"1.21.0","lang":"ruby","lang_version":"2.2.0
              p0 (2014-12-25)","platform":"x86_64-darwin14","engine":"ruby","publisher":"stripe","uname":"Darwin
              MattBook-Pro.local 14.3.0 Darwin Kernel Version 14.3.0: Mon Mar 23 11:59:05
              PDT 2015; root:xnu-2782.20.48~5/RELEASE_X86_64 x86_64","hostname":"MattBook-Pro.local"}'
          :method: :get
          :open_timeout: 30
          :payload: 
          :url: https://api.stripe.com/v1/customers/cus_2boUgOUX1650rT
          :timeout: 80
        request: !ruby/object:RestClient::Request
          method: :get
          headers: *2
          url: https://api.stripe.com/v1/customers/cus_2boUgOUX1650rT
          cookies: {}
          payload: 
          user: 
          password: 
          timeout: 80
          open_timeout: 30
          block_response: 
          raw_response: false
          ssl_opts:
            :verify_ssl: 1
            :ca_file: "/Users/matt/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/bundler/gems/stripe-ruby-8ba1a0e4908c/lib/data/ca-certificates.crt"
          tf: 
          max_redirects: 10
          processed_headers:
            Accept: "*/*; q=0.5, application/xml"
            Accept-Encoding: gzip, deflate
            User-Agent: Stripe/v1 RubyBindings/1.21.0
            Authorization: Bearer sk_test_MB59014jDr66tZMknnJ3726g
            Content-Type: application/x-www-form-urlencoded
            X-Stripe-Client-User-Agent: '{"bindings_version":"1.21.0","lang":"ruby","lang_version":"2.2.0
              p0 (2014-12-25)","platform":"x86_64-darwin14","engine":"ruby","publisher":"stripe","uname":"Darwin
              MattBook-Pro.local 14.3.0 Darwin Kernel Version 14.3.0: Mon Mar 23 11:59:05
              PDT 2015; root:xnu-2782.20.48~5/RELEASE_X86_64 x86_64","hostname":"MattBook-Pro.local"}'
          args: *3
        code: 200
  recorded_at: Mon, 23 Sep 2013 19:45:30 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_2boUgOUX1650rT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_MB59014jDr66tZMknnJ3726g
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1379710269,
          "id": "cus_2boUgOUX1650rT",
          "livemode": false,
          "description": "TEST USER: DO NOT DELETE",
          "email": "doc@doc.doc",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_2boUgOUX1650rT/subscriptions",
            "data": [
              {
                "id": "sub_102boU2S246iGQtmp6babt52",
                "plan": {
                  "interval": "month",
                  "name": "Unlimited monthly",
                  "created": 1404098630,
                  "amount": 2499,
                  "currency": "usd",
                  "id": "provider_monthly",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null,
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1431367022,
                "status": "trialing",
                "customer": "cus_2boUgOUX1650rT",
                "cancel_at_period_end": false,
                "current_period_start": 1380310152,
                "current_period_end": 1439164799,
                "ended_at": null,
                "trial_start": 1380310152,
                "trial_end": 1439164799,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ],
            "count": 1
          },
          "discount": null,
          "account_balance": -11503,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_2boUgOUX1650rT/cards",
            "data": [
              {
                "id": "card_103gn22S246iGQtmJm3X9rAm",
                "object": "card",
                "last4": "4444",
                "brand": "MasterCard",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2020,
                "fingerprint": "mvgrIo96AsEXQEgh",
                "country": "US",
                "name": "Some Other Guy",
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_2boUgOUX1650rT",
                "type": "MasterCard"
              }
            ],
            "count": 1
          },
          "default_card": "card_103gn22S246iGQtmJm3X9rAm",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_2boUgOUX1650rT/sources",
            "data": [
              {
                "id": "card_103gn22S246iGQtmJm3X9rAm",
                "object": "card",
                "last4": "4444",
                "brand": "MasterCard",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2020,
                "fingerprint": "mvgrIo96AsEXQEgh",
                "country": "US",
                "name": "Some Other Guy",
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_2boUgOUX1650rT",
                "type": "MasterCard"
              }
            ],
            "count": 1
          },
          "default_source": "card_103gn22S246iGQtmJm3X9rAm",
          "subscription": {
            "id": "sub_102boU2S246iGQtmp6babt52",
            "plan": {
              "interval": "month",
              "name": "Unlimited monthly",
              "created": 1404098630,
              "amount": 2499,
              "currency": "usd",
              "id": "provider_monthly",
              "object": "plan",
              "livemode": false,
              "interval_count": 1,
              "trial_period_days": null,
              "metadata": {},
              "statement_descriptor": null,
              "statement_description": null
            },
            "object": "subscription",
            "start": 1431367022,
            "status": "trialing",
            "customer": "cus_2boUgOUX1650rT",
            "cancel_at_period_end": false,
            "current_period_start": 1380310152,
            "current_period_end": 1439164799,
            "ended_at": null,
            "trial_start": 1380310152,
            "trial_end": 1439164799,
            "canceled_at": null,
            "quantity": 1,
            "application_fee_percent": null,
            "discount": null,
            "tax_percent": null,
            "metadata": {}
          }
        }
  recorded_at: Thu, 14 May 2015 18:23:46 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_MB59014jDr66tZMknnJ3726g
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/coupons",
          "data": [
            {
              "id": "UpdateTest",
              "created": 1411216225,
              "percent_off": 5,
              "amount_off": null,
              "currency": null,
              "object": "coupon",
              "livemode": false,
              "duration": "once",
              "redeem_by": null,
              "max_redemptions": null,
              "times_redeemed": 1,
              "duration_in_months": null,
              "valid": true,
              "metadata": {}
            },
            {
              "id": "one-month-credit",
              "created": 1380816507,
              "percent_off": null,
              "amount_off": 1499,
              "currency": "usd",
              "object": "coupon",
              "livemode": false,
              "duration": "once",
              "redeem_by": null,
              "max_redemptions": null,
              "times_redeemed": 1,
              "duration_in_months": null,
              "valid": true,
              "metadata": {}
            }
          ],
          "count": 2
        }
  recorded_at: Thu, 14 May 2015 18:23:48 GMT
recorded_with: VCR 2.5.0
