$orange: #f59531;
$darkOrange: #df5f14;

$blue: #1c81a7;
$darkBlue: #08252f;
$lightBlue: #b5c7d3;

$white: #ffffff;
$grey: #666666;
$black: #000000;

$green: #4ecdc4;
$yellow: #fcb322;

$primaryTextColor: #797979;



$veryLightGrey: #F1F2F7;
$lightGrey: #f2f2f2;
$anotherGrey: #eeeeee;
$slightlyLighterGrey: #dbdce0;
$yetAnotherGrey: #c9cdd7;
$semiGrey: #aeb2b7;
$slightlyDarkerGrey: #555555;
$secondaryGrey: #2f2f2f;
$darkGrey: #1a1a1a;
$darkBlueyGrey: #2A3542;
$typicalLightGrey: #e7e7e7;
$woolyGrey: #6a6a6a;
$lightBlueyGrey: #aab2bd;

$lightGreen: #48cfad;
$blueGreen: #2980b9;
$darkGreen: #48bcb4;
$darkerGreen: #37bc9b;
$limeGreen: #a9d96c;

$cherryRed:  #ed5565;
$darkCherryRed: #da4453;
$salmon: #ff6c60;

$lightPurple: #ac92ec;
$darkPurple: #967adc;



$facebookBlue: #2775e2;
$twitterBlue: #2bb4e8;
$turquoise: #41cac0;
$darkSkyBlue: #3498db;

$topMenu_caret: #A4AABA;

$logoutGreen: #64c3c2;
$dropdownLogout_anchor: #a4abbb;
$dropdownLogout_anchorHover: #50c8ea;

$blackBg: #22242a;
$blackBg_border: #393d46;

$topMenu_anchorHover: #b6b6b6;

$dropdown_anchorBorder: #EBEBEB;
$dropdown_anchorHoverBackground: #F7F8F9;
$dropdown_anchorHoverColor: #2E2E2E;

$dashboard_background: #d6d9dc;
$dashbaord_descriptionBorder: #979797;
