.in-testimonial-item {}
.in-testimonial-author {
  padding-top: 10px;
  font-size: 0.8em;
  line-height: 1.3em;
}
.in-testimonial-author-image {
  @extend .img-rounded;
  display: block;
  max-width: 100%;
  margin-top: 0.5em;
}
.in-testimonial-author-name {
  margin-top: 15px;
  display: block;
  font-size: 1.0em;
  font-weight: 600;
  color: lighten(#000, 50%);
}
.in-testimonial-author-title {
  font-size: 0.8em;
  color: lighten(#000, 60%);
  line-height: 1.2em;
  // margin-top: 10px;
  margin-bottom: 10px;
}
.in-testimonial-author-company {
  font-size: 0.8em;
  color: lighten(#000, 60%);
  line-height: 1.2em;
}
