Hey <%=@name%>,
<p>
We thought you'd like to know, this question is receiving a lot of attention!</p>
<p>Check it out <%= link_to "here", unique_inquiry_url(@inquiry) %>.
</p>
<p>
Thanks!
<br>
Regards,
<br>
Ashish
<br>
<br>
Ashish Advani, PharmD
<br>
Founder, InpharmD™
<br>
</p>
