<p>
  <%=greeting%>!
</p>
<p>
I’m writing to follow up with you on InpharmD™, the digital Drug Information Center you just started using. A few days ago, you asked:
</p>
<p>
<%= link_to @inquiry.question, inquiry_url(@inquiry.id) %>
</p>

<p>
I’d love to hear your feedback on this when you get a moment. I'd be grateful to hear it all- good or bad, big or small. Thank you!
</p>
<p>Regards,
  <br>
  Ashish
  <br>
  <br>
  Ashish Advani, PharmD
  <br>
  Founder, InpharmD™
</p>

