Hey <%=@name%>,
<p>
Good question! So good, in fact, we thought others would enjoy reading it.</p>
<p>Check it out <%= link_to "here", unique_inquiry_url(@inquiry) %>.
</p>
<p>
Thanks!
<br>
Regards,
<br>
Ashish
<br>
<br>
Ashish Advani, PharmD
<br>
Founder, InpharmD™
<br>
</p>
