Hi <%=@name%>,
<p>
So sorry to hear that the last InpharmD™ <%= link_to "response", inquiry_url(@inquiry.id) %> you received didn't exceed your expectations. Do you mind taking a minute or two to tell us why?</p>


<p>
Just reply back to this email at your convenience.</p>
<p>
Thanks!
<br>
<br>
Regards,
<br>
Ashish
<br>
<br>
Ashish Advani, PharmD
<br>
Founder, InpharmD™
<br>
</p>
