<ul class="nav navbar-nav navbar-right">
  <li class="<%= nav_link_class("sessions") %>">
    <%= link_to "Log In", login_path %>
  </li>
  <li class="<%nav_link_class("signups")%>">
    <%= link_to "Sign Up", signup_path %>
  </li>
</ul>
