.fontawesome-icon-list {
  h2 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 300;
  }

  .col-sm-4, .col-md-3, .col-xs-6 {
    margin-bottom: 10px;
  }

  .page-header {
    border-bottom: 1px solid #C9CDD7;
  }

  a {
    color: #797979;

    &:hover {
      color: #35404D;
    }
  }

  i {
    font-size: 16px;
    padding-right: 10px;
  }
}

#web-application,
#text-editor,
#directional,
#video-player,
#brand,
#medical,
#currency {
  margin-top: 10px;
}
