---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_2boUgOUX1650rT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_MB59014jDr66tZMknnJ3726g
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1379710269,
          "id": "cus_2boUgOUX1650rT",
          "livemode": false,
          "description": "TEST USER: DO NOT DELETE",
          "email": "doc@doc.doc",
          "delinquent": false,
          "subscription": {
            "id": "su_102cco2S246iGQtmX0LlC85Z",
            "plan": {
              "interval": "week",
              "name": "Pay per request",
              "amount": 0,
              "currency": "usd",
              "id": "a_la_carte",
              "object": "plan",
              "livemode": false,
              "interval_count": 1,
              "trial_period_days": null
            },
            "object": "subscription",
            "start": 1379897450,
            "status": "active",
            "customer": "cus_2boUgOUX1650rT",
            "cancel_at_period_end": false,
            "current_period_start": 1379897450,
            "current_period_end": 1380502250,
            "ended_at": null,
            "trial_start": null,
            "trial_end": null,
            "canceled_at": null,
            "quantity": 1,
            "application_fee_percent": null
          },
          "discount": null,
          "account_balance": -10004,
          "cards": {
            "object": "list",
            "count": 0,
            "url": "/v1/customers/cus_2boUgOUX1650rT/cards",
            "data": []
          },
          "default_card": null
        }
  recorded_at: Mon, 23 Sep 2013 14:33:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_2boUgOUX1650rT&amount=799&currency=usd&description=Inquiry%3A%20how%20do%20i%20do%20a%20thing%3F
    headers:
      Authorization:
      - Bearer sk_test_MB59014jDr66tZMknnJ3726g
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_102cq42S246iGQtmsunnEzzi",
          "date": 1379946778,
          "amount": 799,
          "livemode": false,
          "proration": false,
          "currency": "usd",
          "customer": "cus_2boUgOUX1650rT",
          "description": "Inquiry: how do i do a thing?",
          "invoice": null
        }
  recorded_at: Mon, 23 Sep 2013 14:33:01 GMT
recorded_with: VCR 2.5.0
