---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=some_random_guy%40some_random_website.com&plan=a_la_carte&card=tok_102dzI2S246iGQtmw4EeWKn3
    headers:
      Authorization:
      - Bearer sk_test_MB59014jDr66tZMknnJ3726g
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: &1 !ruby/string
        str: |
          {
            "object": "customer",
            "created": 1380211704,
            "id": "cus_2dzISN5F3GE5VN",
            "livemode": false,
            "description": "some_random_guy@some_random_website.com",
            "email": null,
            "delinquent": false,
            "subscription": {
              "id": "su_102dzI2S246iGQtmUr7nD1UQ",
              "plan": {
                "interval": "week",
                "name": "Pay per request",
                "amount": 0,
                "currency": "usd",
                "id": "a_la_carte",
                "object": "plan",
                "livemode": false,
                "interval_count": 1,
                "trial_period_days": 90
              },
              "object": "subscription",
              "start": 1380211704,
              "status": "trialing",
              "customer": "cus_2dzISN5F3GE5VN",
              "cancel_at_period_end": false,
              "current_period_start": 1380211704,
              "current_period_end": 1387987704,
              "ended_at": null,
              "trial_start": 1380211704,
              "trial_end": 1387987704,
              "canceled_at": null,
              "quantity": 1,
              "application_fee_percent": null
            },
            "discount": null,
            "account_balance": 0,
            "cards": {
              "object": "list",
              "count": 1,
              "url": "/v1/customers/cus_2dzISN5F3GE5VN/cards",
              "data": [
                {
                  "id": "card_102dzI2S246iGQtmuaQyd12T",
                  "object": "card",
                  "last4": "4242",
                  "type": "Visa",
                  "exp_month": 12,
                  "exp_year": 2020,
                  "fingerprint": "5M3VnAm092ve6Lcm",
                  "customer": "cus_2dzISN5F3GE5VN",
                  "country": "US",
                  "name": "Ray Smuckles",
                  "address_line1": null,
                  "address_line2": null,
                  "address_city": null,
                  "address_state": null,
                  "address_zip": null,
                  "address_country": null,
                  "cvc_check": "pass",
                  "address_line1_check": null,
                  "address_zip_check": null
                }
              ]
            },
            "default_card": "card_102dzI2S246iGQtmuaQyd12T"
          }
        net_http_res: !ruby/object:Net::HTTPOK
          code: '200'
          message: OK
          header:
            server:
            - nginx
            date:
            - Thu, 26 Sep 2013 16:08:25 GMT
            content-type:
            - application/json;charset=utf-8
            content-length:
            - '1759'
            connection:
            - keep-alive
            cache-control:
            - no-cache, no-store
            access-control-allow-credentials:
            - 'true'
            access-control-allow-methods:
            - GET, POST, HEAD, OPTIONS, DELETE
            access-control-max-age:
            - '300'
            strict-transport-security:
            - max-age=31556926; includeSubDomains
          body: *1
          read: true
          uri: 
          decode_content: false
          __read_body_previously_called: true
        args: &3
          :verify_ssl: 1
          :ssl_ca_file: "/Users/matt/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/bundler/gems/stripe-ruby-8ba1a0e4908c/lib/data/ca-certificates.crt"
          :headers: &2
            :user_agent: Stripe/v1 RubyBindings/1.21.0
            :authorization: Bearer sk_test_MB59014jDr66tZMknnJ3726g
            :content_type: application/x-www-form-urlencoded
            :x_stripe_client_user_agent: '{"bindings_version":"1.21.0","lang":"ruby","lang_version":"2.2.0
              p0 (2014-12-25)","platform":"x86_64-darwin14","engine":"ruby","publisher":"stripe","uname":"Darwin
              MattBook-Pro.local 14.3.0 Darwin Kernel Version 14.3.0: Mon Mar 23 11:59:05
              PDT 2015; root:xnu-2782.20.48~5/RELEASE_X86_64 x86_64","hostname":"MattBook-Pro.local"}'
          :method: :post
          :open_timeout: 30
          :payload: description=anyone%40anywhere.com&email=anyone%40anywhere.com&plan=pay_per_request&trial_end=1439510399
          :url: https://api.stripe.com/v1/customers
          :timeout: 80
        request: !ruby/object:RestClient::Request
          method: :post
          headers: *2
          url: https://api.stripe.com/v1/customers
          cookies: {}
          payload: !ruby/object:RestClient::Payload::Base
            stream: !ruby/object:StringIO {}
          user: 
          password: 
          timeout: 80
          open_timeout: 30
          block_response: 
          raw_response: false
          ssl_opts:
            :verify_ssl: 1
            :ca_file: "/Users/matt/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/bundler/gems/stripe-ruby-8ba1a0e4908c/lib/data/ca-certificates.crt"
          tf: 
          max_redirects: 10
          processed_headers:
            Accept: "*/*; q=0.5, application/xml"
            Accept-Encoding: gzip, deflate
            User-Agent: Stripe/v1 RubyBindings/1.21.0
            Authorization: Bearer sk_test_MB59014jDr66tZMknnJ3726g
            Content-Type: application/x-www-form-urlencoded
            X-Stripe-Client-User-Agent: '{"bindings_version":"1.21.0","lang":"ruby","lang_version":"2.2.0
              p0 (2014-12-25)","platform":"x86_64-darwin14","engine":"ruby","publisher":"stripe","uname":"Darwin
              MattBook-Pro.local 14.3.0 Darwin Kernel Version 14.3.0: Mon Mar 23 11:59:05
              PDT 2015; root:xnu-2782.20.48~5/RELEASE_X86_64 x86_64","hostname":"MattBook-Pro.local"}'
            Content-Length: '103'
          args: *3
        code: 200
  recorded_at: Thu, 26 Sep 2013 16:08:25 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_2dzISN5F3GE5VN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_MB59014jDr66tZMknnJ3726g
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "cust[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_2dzISN5F3GE5VN
    body:
      encoding: US-ASCII
      string: card=tok_102dzI2S246iGQtmw4EeWKn3
    headers:
      Authorization:
      - Bearer sk_test_MB59014jDr66tZMknnJ3726g
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "You cannot use a Stripe token more than once: tok_102dzI2S246iGQtmw4EeWKn3"
          }
        }
  recorded_at: Thu, 26 Sep 2013 16:08:29 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_MB59014jDr66tZMknnJ3726g
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/coupons",
          "data": [
            {
              "id": "UpdateTest",
              "created": 1411216225,
              "percent_off": 5,
              "amount_off": null,
              "currency": null,
              "object": "coupon",
              "livemode": false,
              "duration": "once",
              "redeem_by": null,
              "max_redemptions": null,
              "times_redeemed": 1,
              "duration_in_months": null,
              "valid": true,
              "metadata": {}
            },
            {
              "id": "one-month-credit",
              "created": 1380816507,
              "percent_off": null,
              "amount_off": 1499,
              "currency": "usd",
              "object": "coupon",
              "livemode": false,
              "duration": "once",
              "redeem_by": null,
              "max_redemptions": null,
              "times_redeemed": 1,
              "duration_in_months": null,
              "valid": true,
              "metadata": {}
            }
          ],
          "count": 2
        }
  recorded_at: Fri, 15 May 2015 22:56:46 GMT
recorded_with: VCR 2.5.0
