<!-- Modal -->
<div id="evidenceNotes" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Notes</h4>
      </div>
      <div class="modal-body">
        <h5><b>Notes</b></h5>
        <p>Users can add a minus-sign “-” to denote the level of that fails to provide a conclusive answer because:</p>

        <ol>
          <li>EITHER a single result with a wide Confidence Interval</li>
          <li>OR a Systematic Review with troublesome heterogeneity.</li>
        </ol>

        <p>Such evidence is inconclusive, and therefore can only generate Grade D recommendations.</p>
        <table class="table table-bordered">
          <tr>
            <td>*</td>
            <td>By homogeneity we mean a systematic review that is free of worrisome variations (heterogeneity) in the directions and degrees of results between individual studies. Not all systematic reviews with statistically significant heterogeneity need be worrisome, and not all worrisome heterogeneity need be statistically significant. As noted above, studies displaying worrisome heterogeneity should be tagged with a “-” at the end of their designated level.</td>
          </tr>

          <tr>
            <td>“</td>
            <td>Clinical Decision Rule. (These are algorithms or scoring systems that lead to a prognostic estimation or a diagnostic category.)</td>
          </tr>

          <tr>
            <td>“¡</td>
            <td>See note above for advice on how to understand, rate and use trials or other studies with wide confidence intervals.</td>
          </tr>

          <tr>
            <td>§</td>
            <td>Met when all patients died before the Rx became available, but some now survive on it; or when some patients died before the Rx became available, but none now die on it.</td>
          </tr>

          <tr>
            <td>§§</td>
            <td>By poor quality cohort study we mean one that failed to clearly define comparison groups and/or failed to measure exposures and outcomes in the same (preferably blinded), objective way in both exposed and non-exposed individuals and/or failed to identify or appropriately control known confounders and/or failed to carry out a sufficiently long and complete follow-up of patients. By poor quality case-control study we mean one that failed to clearly define comparison groups and/or failed to measure exposures and outcomes in the same (preferably blinded), objective way in both cases and controls and/or failed to identify or appropriately control known confounders.</td>
          </tr>

          <tr>
            <td>§§§</td>
            <td>Split-sample validation is achieved by collecting all the information in a single tranche, then artificially dividing this into “derivation” and “validation” samples.</td>
          </tr>

          <tr>
            <td>” “</td>
            <td>An “Absolute SpPin” is a diagnostic finding whose Specificity is so high that a Positive result rules-in the diagnosis. An “Absolute SnNout” is a diagnostic finding whose Sensitivity is so high that a Negative result rules-out the diagnosis.</td>
          </tr>

          <tr>
            <td>“¡”¡</td>
            <td>Good, better, bad and worse refer to the comparisons between treatments in terms of their clinical risks and benefits.</td>
          </tr>

          <tr>
            <td>” ” “ </td>
            <td>Good reference standards are independent of the test, and applied blindly or objectively to applied to all patients. Poor reference standards are haphazardly applied, but still independent of the test. Use of a non-independent reference standard (where the ‘test’ is included in the ‘reference’, or where the ‘testing’ affects the ‘reference’) implies a level 4 study.</td>
          </tr>

          <tr>
            <td>” ” ” “</td>
            <td>Better-value treatments are clearly as good but cheaper, or better at the same or reduced cost. Worse-value treatments are as good and more expensive, or worse and the equally or more expensive.</td>
          </tr>

          <tr>
            <td>**</td>
            <td>Validating studies test the quality of a specific diagnostic test, based on prior evidence. An exploratory study collects information and trawls the data (e.g. using a regression analysis) to find which factors are ‘significant’.</td>
          </tr>

          <tr>
            <td>***</td>
            <td>By poor quality prognostic cohort study we mean one in which sampling was biased in favour of patients who already had the target outcome, or the measurement of outcomes was accomplished in <80% of study patients, or outcomes were determined in an unblinded, non-objective way, or there was no correction for confounding factors.</td>
          </tr>

          <tr>
            <td>****</td>
            <td>Good follow-up in a differential diagnosis study is >80%, with adequate time for alternative diagnoses to emerge (for example 1-6 months acute, 1 – 5 years chronic)</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
