<div class="row">
  <div class="col-xs-12">
    <h1>Thank you for your feedback.</h1>
    <h4>Mind taking an extra minute to complete our case <a href='https://www.surveygizmo.com/s3/3334990/Performance-Survey2'>study</a>? We thrive on your feedback, and we post it for others on the website.</h4> 
  </div>
  <br/>
  <br/>
  <div class="col-xs-12">
     <%= link_to 'View Response', inquiry_path(@inquiry), class: "btn btn-primary", style: 'margin-top:10px;' %>
  </div>
</div>
