<div style="width: 600px;">
  <%= image_tag("logo.png", alt: "InpharmD: Tailored, On Demand, Digital Drug Information", width:"350", height:"140") %>
  <%= image_tag("Pfizer_logo.png", alt: "Pfizer", width:"350", height:"140") %>
  <div style="margin: 15px;">
    <%= yield %>
    <br>
    <hr>
    <p>
      To ensure that you receive messages from InpharmD™ in the future, please add
      &nbsp;<span style="white-space: nowrap;">support@inpharmd.com</span>
      &nbsp;to your address book.
    </p>
  </div>
</div>
